<template>
  <div>
    <mdb-navbar position="top" dark color="primary" scrolling>
      <mdb-navbar-brand href="#"><img class="logo" src="../assets/logo.png"></mdb-navbar-brand>
      <mdb-navbar-toggler>
        <mdb-navbar-nav>
          <mdb-nav-item to="/historial" waves-fixed>Historial de ligas creadas</mdb-nav-item>
          <mdb-nav-item @click="logout" waves-fixed>Salir</mdb-nav-item>
        </mdb-navbar-nav>
      </mdb-navbar-toggler>
    </mdb-navbar>
    <mdb-container v-if="validMensaje">
      <mdb-row>
        <mdb-col col="12">
          <h3>CREA BOTÓN WHATSAPP</h3>
          <p>Ingresa el número y el mensaje que quieres enviar</p>
        </mdb-col>
      </mdb-row>
      <mdb-row class="espacioLogo">
        <mdb-col col="2" sm="2" md="3" lg="3"></mdb-col>
        <mdb-col col="12" sm="8" md="6" lg="6">
          <mdb-row class="text-left">
            <mdb-col col="5" sm="5" md="5">
              <div class="form-group">
                <label for="example1">Tu número</label>
                <input type="number" v-model="numero" class="form-control" maxlength="10">
              </div>
            </mdb-col>
            <mdb-col col="5" sm="5" md="5">
              <label for="example1"></label>
              <button class="btn btnWhats">Agregar</button>
            </mdb-col>
            <mdb-col col="2" sm="2" md="2">
              <mdb-icon class="icontop" icon="times" />
            </mdb-col>
          </mdb-row>
          <mdb-row class="text-left">
            <mdb-col col="12">
              <div class="form-group">
                <label for="mensaje">Tu mensaje</label>
                <textarea class="form-control" v-model="mensaje" rows="5"></textarea>
              </div>
            </mdb-col>
          </mdb-row>
          <mdb-row>
             <mdb-col col="12">
               <button class="btn btnGenerar" @click="generar">GENERAR LIGA</button>
             </mdb-col>
          </mdb-row>
        </mdb-col>
        <mdb-col col="4"></mdb-col>
      </mdb-row>
    </mdb-container>
    <mdb-container v-if="!validMensaje">
      <mdb-row>
        <mdb-col col="12">
          <h3>CREA BOTÓN WHATSAPP</h3>
          <a v-bind:href="url" target="_blank" ref="copiar" class="liga">https://wa.me/521{{$data.documento.numero}}?text={{$data.documento.msjwhats}}</a>
        </mdb-col>
      </mdb-row>
      <mdb-row class="espBtn">
        <mdb-col col="2" sm="2" md="3" lg="3"></mdb-col>
        <mdb-col col="12" sm="8" md="6" lg="6">
          <input type="hidden" id="testing-code" :value="url">
          <button class="btn btnGenerar" @click="copyText">COPIAR LIGA</button>
          <p class="edit" @click="edit">EDITAR</p>
        </mdb-col>
      </mdb-row>
    </mdb-container>
  </div>
</template>

<script>
  import { mdbNavbar, mdbNavItem, mdbNavbarNav, mdbNavbarToggler, mdbDropdown, mdbDropdownItem, mdbDropdownMenu, mdbDropdownToggle, mdbInput, mdbBtn, mdbNavbarBrand } from 'mdbvue';
  import { mdbContainer, mdbRow, mdbCol, mdbIcon  } from 'mdbvue';
  import firebase from 'firebase';
  export default {
    name: 'NavigationPage',
    components: {
      mdbNavbar,
      mdbNavItem,
      mdbNavbarNav,
      mdbNavbarToggler,
      mdbDropdown,
      mdbDropdownItem,
      mdbDropdownMenu,
      mdbDropdownToggle,
      mdbInput,
      mdbBtn,
      mdbNavbarBrand,
      mdbContainer,
      mdbRow,
      mdbCol,
      mdbIcon
    },
    data(){
      return {
        numero: '',
        mensaje:  '',
        msjwhats: '',
        coordenadas: '',
        validMensaje: true,
        documento: {},
        url: '',
        idDoc: '',
        documentoEditado:{}
      }
    },
    methods:{
      logout(){
        alert("Hola");
        //firebase.auth().signOut().then(() => this.$router.replace('login'));
      },
      generar(){
        this.msjwhats = this.mensaje.split(" ").join("%20");
        let f = new Date();
        let mensaje = this.mensaje;
        let coordenadas = this.coordenadas;
        let msjwhats = this.msjwhats;
        let numero = this.numero;
        let idDoc = this.idDoc;
        let validMensaje = this.validMensaje;
        let fecha = f.getDate() + "/" + (f.getMonth() +1) + "/" + f.getFullYear();
        if(navigator.geolocation){
          navigator.geolocation.getCurrentPosition(position => {
            this.coordenadas = position.coords.latitude.toString()+","+position.coords.longitude.toString();
            if (this.idDoc == "" || this.idDoc == null || this.idDoc == undefined) {
              firebase.firestore().collection("mensajes").add({
                mensaje: mensaje,
                coordenadas: coordenadas,
                msjwhats: msjwhats,
                numero: numero,
                fecha: f,
                copia: 0
              }).then(
                (docRef)=> 
                  firebase.firestore().collection("mensajes").doc(docRef.id).get().then(
                    (doc) =>
                      this.copy(doc.data(),docRef.id)
                    ,
                    (error) => 
                      console.log(error)
                  ),
                (error) => 
                  console.log(error)
              );
            }else{
              firebase.firestore().collection("mensajes").doc(idDoc).update({
                mensaje: mensaje,
                coordenadas: coordenadas,
                msjwhats: msjwhats,
                numero: numero,
                copia: 0
              })
              .then(function() {
                validMensaje = !validMensaje;
              })
              .catch(function(error) {
                  console.error("Error updating document: ", error);
              });
              this.validMensaje = !validMensaje;
            }
          })
        }
      },
      copy(data,id){
        this.documento = data;
        this.idDoc = id;
        this.validMensaje = !this.validMensaje;
        this.url = 'https://wa.me/521'+this.documento.numero+'?text='+this.documento.msjwhats;
      },
      copyText() {
        let testingCodeToCopy = document.querySelector('#testing-code')
        testingCodeToCopy.setAttribute('type', 'text');
        testingCodeToCopy.select();

        try {
          var successful = document.execCommand('copy');
        } catch (err) {
          alert('Error to copy');
        }
        /* unselect the range */
        testingCodeToCopy.setAttribute('type', 'hidden')
        window.getSelection().removeAllRanges()
      },
      edit(){
        this.validMensaje = !this.validMensaje;
      }
    }
  }
</script>

<style scoped>
  .view {
    background: url("https://mdbootstrap.com/img/Photos/Others/img (42).jpg")no-repeat center center;
    background-size: cover;
    height: 100%;
  }
  a.nav-link.navbar-link{
    color: #ea184d !important;
  }
  nav.navbar.navbar-dark.primary-color.navbar-expand-lg.fixed-top.scrolling-navbar{
    background: rgba(254,254,254,1);
    background: -moz-linear-gradient(top, rgba(254,254,254,1) 0%, rgba(240,240,240,1) 50%, rgba(209,209,209,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(254,254,254,1)), color-stop(50%, rgba(240,240,240,1)), color-stop(100%, rgba(209,209,209,1)));
    background: -webkit-linear-gradient(top, rgba(254,254,254,1) 0%, rgba(240,240,240,1) 50%, rgba(209,209,209,1) 100%);
    background: -o-linear-gradient(top, rgba(254,254,254,1) 0%, rgba(240,240,240,1) 50%, rgba(209,209,209,1) 100%);
    background: -ms-linear-gradient(top, rgba(254,254,254,1) 0%, rgba(240,240,240,1) 50%, rgba(209,209,209,1) 100%);
    background: linear-gradient(to bottom, rgba(254,254,254,1) 0%, rgba(240,240,240,1) 50%, rgba(209,209,209,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#d1d1d1', GradientType=0 );
  }
  .navbar .dropdown-menu a:hover {
    color: inherit !important;
  }
  .navbar-toggler{
    order: 0 !important;
  }
  .logo{
    width:130px;
  }
  h3{
    font-weight:bold;
    margin-bottom: 60px;
    margin-top: 30px;
  }
  input,textarea{
    margin-bottom: 30px;
    border-color: #E5E5E5 !important;
    border: 2px solid;
    background-color: #eeeeee;
    color:#000;
    resize: none;
  }
  .form-control:focus {
    background-color: #eeeeee;
    border-color: #EA184D !important;
    -webkit-box-shadow: 0 0 0 0.2rem rgba(234, 24, 77, 0.25);
    box-shadow: 0 0 0 0.2rem rgba(234, 24, 77, 0.25);
  }
  .btnWhats,.btnGenerar{
    width: 100%;
    background-color: #16a085;
    border: 2px solid #FFF;
  }
  .btnWhats{
    height: 40px;
    padding: initial;
  }
  .btnWhats:hover,.btnGenerar:hover{
    background-color: transparent;
    border: 2px solid #16a085;
    color: #16a085;
  }
  .icontop{
    margin-top: 40px;
  }
  input[type=number]::-webkit-inner-spin-button, 
  input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
  }
  .edit{
    text-decoration:underline;
    cursor:pointer;
  }
  .liga{
    font-size: 20px;
    margin-top:60px;
  }
  .espBtn{
    margin-top: 60px;
  }
</style>