<template>
  <div class="hello">
    <h3>{{ msg }}</h3>
    <a href="#" @click="logout">Salir</a>
    <p class="mb-2">The application is configured and ready to import our components. You will find MDB Vue docs <a href="https://mdbootstrap.com/vue/" target="_blank">here</a>.</p>
    <p>Please type <span class="black-text">npm run demo</span> or <span class="black-text">yarn demo</span> to launch our Demonstration Page. The files with the code are placed in the <span class="black-text">demo</span> directory.</p>
    <p>If You want to completely remove our demo from Your App, easily type <span class="black-text">npm run remove-demo</span> or <span class="black-text">yarn remove-demo</span>.</p>
  </div>
</template>

<script>
import firebase from 'firebase';
export default {
  name: 'HelloWorld',
  data () {
    return {
      msg: 'Welcome to Your MDB Vue.js App'
    };
  },
  methods:{
    logout(){
      firebase.auth().signOut().then(() => this.$router.replace('login'));
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  font-weight: normal;
  padding-top: 20px;
  padding-bottom: 30px;
}
p {
  color: #969696;
  margin-bottom: 0;
  font-size: 14px;
}
</style>
