<template>
  <div>
    <mdb-navbar position="top" dark color="primary" scrolling>
      <mdb-navbar-brand href="#"><img class="logo" src="../assets/logo.png"></mdb-navbar-brand>
      <mdb-navbar-toggler>
        <mdb-navbar-nav>
          <mdb-nav-item to="/home" waves-fixed>Agregar</mdb-nav-item>
          <mdb-nav-item waves-fixed @click="logout">Salir</mdb-nav-item>
        </mdb-navbar-nav>
      </mdb-navbar-toggler>
    </mdb-navbar>
    <mdb-container class="heading" v-if="validEditar">
      <mdb-row>
        <mdb-col col="12">
          <h3>HISTORIAL DE MENSAJES CREADOS</h3>
        </mdb-col>
      </mdb-row>
    </mdb-container>
    <mdb-container v-if="validEditar">
      <mdb-row>
        <mdb-col col="6" md="4" class="text-left">
          <div class="form-group">
            <label for="desde">Fecha desde</label>
            <datepicker :language="es" input-class="form-control date" v-model="fechaInicio" @change="buscar"></datepicker>
          </div>
        </mdb-col>
        <mdb-col col="6" md="4" class="text-left">
          <div class="form-group">
            <label for="hasta">Fecha hasta</label>
            <datepicker :language="es" input-class="form-control date" v-model="fechaFin" @change="buscar"></datepicker>
          </div>
        </mdb-col>
        <mdb-col col="12" md="3">
          <div class="input-group md-form form-sm form-2 pl-0 espInpSearch">
            <input class="form-control my-0 py-1 red-border search" type="text" placeholder="Buscar..." aria-label="Search" v-model="search" @change="buscar">
            <div class="input-group-append">
              <span class="input-group-text red lighten-3" id="basic-text1">
                <mdbIcon icon="search"/>
              </span>
            </div>
          </div>
        </mdb-col>
      </mdb-row>
      <mdb-row v-for="mensaje in mensajes" class="divMensaje">
        <mdb-col col="3" md="3" class="text-left partMensaje">
          <label class="titulo">Fecha</label>
          <p>{{mensaje.fecha | fecha}}</p>
        </mdb-col>
        <mdb-col col="8" md="8" class="text-left partMensaje">
          <label class="titulo">Mensaje</label>
          <p>{{mensaje.mensaje}}</p>
        </mdb-col>
        <mdb-col col="4" md="4" class="text-left partMensaje">
          <label class="titulo">Celular</label>
          <p>{{mensaje.numero}}</p>
        </mdb-col>
        <mdb-col col="3" md="3" class="text-left partMensaje">
          <label class="titulo">Cant. copias</label>
          <p>{{mensaje.copia}}</p>
        </mdb-col>
        <mdb-col col="4" md="4" class="text-left partMensaje">
          <input :value="mensaje.fecha.nanoseconds" type="hidden" :id="mensaje.fecha.nanoseconds">
          <input type="hidden" :id="'msjInput'+mensaje.fecha.nanoseconds" :value="'https://wa.me/521'+mensaje.numero+'?text='+mensaje.msjwhats">
          <button class="btn btnDetalle btnCopy" @click="copyText(mensaje.fecha.nanoseconds)"><mdb-icon far icon="copy" /></button>
          <button class="btn btnDetalle btnEdit" @click="editar(mensaje.fecha.nanoseconds)"><mdb-icon far icon="edit"/></button>
        </mdb-col>
      </mdb-row>
    </mdb-container>
    <mdb-container v-if="!validEditar">
      <mdb-row>
        <mdb-col col="12">
          <h3>EDITAR BOTÓN WHATSAPP</h3>
          <p>Ingresa el número y el mensaje que quieres enviar</p>
        </mdb-col>
      </mdb-row>
      <mdb-row>
        <mdb-col col="2" sm="2" md="3" lg="3"></mdb-col>
        <mdb-col col="12" sm="8" md="6" lg="6">
          <mdb-row class="text-left">
            <mdb-col col="5" sm="5" md="5">
              <div class="form-group">
                <label for="example1">Tu número</label>
                <input type="number" v-model="numero" class="form-control" maxlength="10">
              </div>
            </mdb-col>
            <mdb-col col="5" sm="5" md="5">
              <label for="example1"></label>
              <button class="btn btnWhats">Agregar</button>
            </mdb-col>
            <mdb-col col="2" sm="2" md="2">
              <mdb-icon class="icontop" icon="times" />
            </mdb-col>
          </mdb-row>
          <mdb-row class="text-left">
            <mdb-col col="12">
              <div class="form-group">
                <label for="mensaje">Tu mensaje</label>
                <textarea class="form-control" v-model="mensaje" rows="5"></textarea>
              </div>
            </mdb-col>
          </mdb-row>
          <mdb-row>
             <mdb-col col="12">
               <button class="btn btnGenerar" @click="generarEditar(idDocumento)">GENERAR LIGA</button>
               <p class="edit" @click="regresar">REGRESAR</p>
             </mdb-col>
          </mdb-row>
        </mdb-col>
        <mdb-col col="4"></mdb-col>
      </mdb-row>
    </mdb-container>
  </div>
</template>

<script>
  import { mdbNavbar, mdbNavItem, mdbNavbarNav, mdbNavbarToggler, mdbDropdown, mdbDropdownItem, mdbDropdownMenu, mdbDropdownToggle, mdbInput, mdbBtn, mdbNavbarBrand } from 'mdbvue';
  import { mdbContainer, mdbRow, mdbCol, mdbIcon  } from 'mdbvue';
  import firebase from 'firebase';
  import Datepicker from 'vuejs-datepicker';
  import {en, es} from 'vuejs-datepicker/dist/locale';
  export default {
    name: 'NavigationPage',
    components: {
      Datepicker,
      mdbNavbar,
      mdbNavItem,
      mdbNavbarNav,
      mdbNavbarToggler,
      mdbDropdown,
      mdbDropdownItem,
      mdbDropdownMenu,
      mdbDropdownToggle,
      mdbInput,
      mdbBtn,
      mdbNavbarBrand,
      mdbContainer,
      mdbRow,
      mdbCol,
      mdbIcon
    },
    data () {
      return {
        en: en,
        es: es,
        mensajes: [],
        currentPage: 0,
        pageSize: 5,
        visibleTodos: [],
        fechaInicio: '',
        fechaFin: '',
        search: '',
        perPage: 3,
        currentPage: 1,
        validEditar: true,
        numero: '',
        mensaje:  '',
        msjwhats: '',
        coordenadas: '',
        idDocumento:''
      };
    },
    filters: {
      fecha: function (value) {
        const monthNames = ["ENE", "FEB", "MAR", "ABR", "MAY", "JUN",
          "JUL", "AGO", "SEP", "OCT", "NOV", "DIC"
        ];   
        let myDate = new Date(value.seconds * 1000);
        let anio = myDate.getFullYear().toString();
        anio = anio.split("20");
        let dia = myDate.getDay().toString();
        let mes = monthNames[myDate.getMonth()]
        return dia+"/"+mes+"/"+anio[1];
      }
    },
    created() {
      this.todos();
    },
    beforeMount: function(){
      this.updateVisibleTodos();
    },
    methods:{
      logout(){
        firebase.auth().signOut().then(() => this.$router.replace('login'));
      },
      buscar(){
        let mensajes =  [];
        this.mensajes = [];
        let search = true;
        if (this.search != "") {
          search = this.search;
        }
        //let inicio = new TimeStamp(this.fechaInicio);
        //let fin = Math.floor(this.fechaFin.getTime()/1000.0).toString();
        firebase.firestore().collection("mensajes").where("numero", "==", this.search)
          .get()
          .then(function(querySnapshot) {
              querySnapshot.forEach(function(doc) {
                  console.log(doc.data());
                  mensajes.push(doc.data());
              });
          })
          .catch(function(error) {
              console.log("Error getting documents: ", error);
          });
          this.mensajes = mensajes;
      },
      todos(){
        let mensajes =  [];
        this.mensajes = [];
        let cont = 0;
        firebase.firestore().collection("mensajes")
          .get()
          .then(function(querySnapshot) {
            querySnapshot.forEach(function(doc) {
              mensajes.push(doc.data());
              mensajes[cont].fecha.nanoseconds = doc.id;
              cont++;
            });
          })
          .catch(function(error) {
              console.log("Error getting messagges: ", error);
          });
        this.mensajes = mensajes;
      },
      copyText(id) {
        let testingCodeToCopy = document.querySelector('#msjInput'+id)
        testingCodeToCopy.setAttribute('type', 'text');
        testingCodeToCopy.select();

        try {
          var successful = document.execCommand('copy');
        } catch (err) {
          alert('Error to copy');
        }
        testingCodeToCopy.setAttribute('type', 'hidden');
        window.getSelection().removeAllRanges();

        firebase.firestore().collection("mensajes").doc(id).get()
        .then(function(doc) {
          let cantidad = doc.data().copia +1;
          firebase.firestore().collection("mensajes").doc(id).update({
            copia: cantidad
          })
          .then(function() {

          })
          .catch(function(error) {
              console.error("Error updating document: ", error);
          });
        })
        .catch(function(error) {
            console.error("Error updating document: ", error);
        });
        this.todos();
      },
      updatePage(pageNumber){
        this.currentPage = pageNumber;
        this.updateVisibleTodos();
      },
      updateVisibleTodos(){
        this.visibleTodos = this.mensajes.slice(this.currentPage * this.pageSize, (this.currentPage * this.pageSize) + this.pageSize);
      },
      editar(id){
        this.idDocumento = id;
        this.validEditar = !this.validEditar;
        let mensaje = this.mensaje;
        let coordenadas = this.coordenadas;
        let msjwhats = this.msjwhats;
        let numero = this.numero;
        firebase.firestore().collection("mensajes").doc(id).get()
        .then(
          (doc) =>
            this.editarLiga(doc.data())
          ,
          (error) =>
            console.error("Error updating document: ", error)
        )
      },
      editarLiga(mensaje){
        this.mensaje = mensaje.mensaje;
        this.numero = mensaje.numero;
      },
      generarEditar(idDoc){
        this.msjwhats = this.mensaje.split(" ").join("%20");
        let mensaje = this.mensaje;
        let msjwhats = this.msjwhats;
        let numero = this.numero;
        let validEditar = this.validEditar;
        if(navigator.geolocation){
          navigator.geolocation.getCurrentPosition(position => {
            let coordenadas = position.coords.latitude.toString()+","+position.coords.longitude.toString();
            firebase.firestore().collection("mensajes").doc(idDoc).update({
              mensaje: mensaje,
              coordenadas: coordenadas,
              msjwhats: msjwhats,
              numero: numero
            })
            .then(function() {
              validEditar = !validEditar;
            })
            .catch(function(error) {
                console.error("Error updating document: ", error);
            });
            this.validEditar = !validEditar;
            this.todos();
          });
        }
      },
      regresar(){
        this.validEditar = !this.validEditar;
      }
    }
  }
</script>

<style scoped>
  .view {
    background: url("https://mdbootstrap.com/img/Photos/Others/img (42).jpg")no-repeat center center;
    background-size: cover;
    height: 100%;
  }
  a.nav-link.navbar-link{
    color: #ea184d !important;
  }
  nav.navbar.navbar-dark.primary-color.navbar-expand-lg.fixed-top.scrolling-navbar{
    background: rgba(254,254,254,1);
    background: -moz-linear-gradient(top, rgba(254,254,254,1) 0%, rgba(240,240,240,1) 50%, rgba(209,209,209,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(254,254,254,1)), color-stop(50%, rgba(240,240,240,1)), color-stop(100%, rgba(209,209,209,1)));
    background: -webkit-linear-gradient(top, rgba(254,254,254,1) 0%, rgba(240,240,240,1) 50%, rgba(209,209,209,1) 100%);
    background: -o-linear-gradient(top, rgba(254,254,254,1) 0%, rgba(240,240,240,1) 50%, rgba(209,209,209,1) 100%);
    background: -ms-linear-gradient(top, rgba(254,254,254,1) 0%, rgba(240,240,240,1) 50%, rgba(209,209,209,1) 100%);
    background: linear-gradient(to bottom, rgba(254,254,254,1) 0%, rgba(240,240,240,1) 50%, rgba(209,209,209,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#d1d1d1', GradientType=0 );
  }
  .navbar .dropdown-menu a:hover {
    color: inherit !important;
  }
  .navbar-toggler{
    order: 0 !important;
  }
  .logo{
    width:130px;
  }
  h3{
    font-weight:bold;
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 20px;
  }
  #app{
    margin-top: 73px !important;
  }
  input,textarea{
    margin-bottom: 30px;
    border-color: #E5E5E5 !important;
    border: 2px solid;
    background-color: #eeeeee;
    color:#000;
    resize: none;
  }
  .form-control:focus {
    background-color: #eeeeee;
    border-color: #EA184D !important;
    -webkit-box-shadow: 0 0 0 0.2rem rgba(234, 24, 77, 0.25);
    box-shadow: 0 0 0 0.2rem rgba(234, 24, 77, 0.25);
    box-shadow:none !important;
  }
  .btnWhats,.btnGenerar{
    width: 100%;
    background-color: #16a085;
    border: 2px solid #FFF;
  }
  .btnWhats{
    height: 40px;
    padding: initial;
  }
  .btnWhats:hover,.btnGenerar:hover{
    background-color: transparent;
    border: 2px solid #16a085;
    color: #16a085;
  }
  .icontop{
    margin-top: 40px;
  }
  input[type=number]::-webkit-inner-spin-button, 
  input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
  }
  .edit{
    text-decoration:underline;
    cursor:pointer;
  }
  .liga{
    font-size: 20px;
    margin-top:60px;
  }
  .espBtn{
    margin-top: 60px;
  }
  .heading{
    background: #ea184d;
    margin: 0;
    color:#FFF;
    text-align:left;
    max-width: 100%;
  }
  .search{
    background: #efefef !important;
    border: 1px solid #e7e7ea !important;
  }
  .red.lighten-3{
    background: #efefef !important;
  }
  .date{
    margin-top: 25px !important;
  }
  .titulo{
    color:#808081;
    font-size: 9px;
  }
  .partMensaje{
    background: #efefef;
    margin: 2px;
  }
  .divMensaje{
    margin-bottom: 20px;
  }
  .btnDetalle{
    padding: inherit;
    height: 50px;
    width: 50px;
    margin: 0;
    float: left;
    margin-top: 10px;
    margin-left: 7px;
    border: 2px solid #FFF;
  }
  .btnCopy{
    background:#e92652;
  }
  .btnCopy:hover{
    background:transparent;
    border-color:#e92652;
    color:#e92652;
  }
  .btnEdit{
    background:#3b4d63;
  }
  .btnEdit:hover{
    background:transparent;
    border-color:#3b4d63;
    color:#3b4d63;
  }
  .espInpSearch{
    margin-top: 33px;
  }
</style>