<template>
  <mdb-container>
    <mdb-row>
      <mdb-col col="12">
        <img src="../assets/logo.png">
      </mdb-col>
    </mdb-row>
    <mdb-row class="espacioLogo">
      <mdb-col col="2" sm="2" md="4" lg="4"></mdb-col>
      <mdb-col col="8" sm="8" md="4" lg="4">
        <form @submit.prevent="login">
          <div class="grey-text">
            <input type="text" id="defaultFormRegisterNameEx" v-model="usuario" class="form-control"/>
            <input type="password" v-model="contrasena" class="form-control"/>
          </div>
          <div class="text-center">
            <mdb-btn class="btnHanna">INICIAR SESIÓN</mdb-btn>
          </div>
        </form>
      </mdb-col>
      <mdb-col col="4"></mdb-col>
    </mdb-row>
    <mdb-row>
      <mdb-col col="12">
        <p class="text-center lost">Olvidé mi contraseña</p>
      </mdb-col>
    </mdb-row>
  </mdb-container>
</template>

<script>
  import { mdbInput, mdbBtn } from 'mdbvue';
  import {mdbContainer, mdbRow, mdbCol} from 'mdbvue';
  import firebase from 'firebase';
    export default {
      name: 'Basic',
      components: {
        mdbInput,
        mdbBtn,
        mdbContainer,
        mdbRow,
        mdbCol
      },
      data(){
        return {
          usuario: 'carlos@mail.com',
          contrasena:  '123456'
        }
      },
      methods:{
        login(){
          firebase
          .auth()
          .signInWithEmailAndPassword(this.usuario, this.contrasena)
          .then((user)=> this.$router.replace('home'),(error) => console.log(error));
          /*.catch(function(error) {
            // Handle Errors here.
            var errorCode = error.code;
            var errorMessage = error.message;
            // ...
          });*/
        }
      }
    }
</script>

<style scoped>
  *{
    font-size: 16px;
  }
  .btnHanna{
    background: #EA184D;
    border: 2px solid;
    width:100%;
  }
  .btnHanna:hover{
    background: transparent;
    border: 2px solid #EA184D;
    color: #EA184D;
  }
  .espacioLogo{
    margin-top: 60px;
  }
  input{
    margin-bottom: 30px;
    text-align: center;
    border-color: #E5E5E5 !important;
    border: 2px solid;
  }
  .form-control:focus {
    background-color: #fff;
    border-color: #EA184D !important;
    -webkit-box-shadow: 0 0 0 0.2rem rgba(234, 24, 77, 0.25);
    box-shadow: 0 0 0 0.2rem rgba(234, 24, 77, 0.25);
  }
  .lost{
    margin-top: 15px;
    text-decoration: underline;
    color: #2c3e50;
  }
  #app{
    background: rgba(254,254,254,1);
    background: -moz-linear-gradient(top, rgba(254,254,254,1) 0%, rgba(240,240,240,1) 50%, rgba(209,209,209,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(254,254,254,1)), color-stop(50%, rgba(240,240,240,1)), color-stop(100%, rgba(209,209,209,1)));
    background: -webkit-linear-gradient(top, rgba(254,254,254,1) 0%, rgba(240,240,240,1) 50%, rgba(209,209,209,1) 100%);
    background: -o-linear-gradient(top, rgba(254,254,254,1) 0%, rgba(240,240,240,1) 50%, rgba(209,209,209,1) 100%);
    background: -ms-linear-gradient(top, rgba(254,254,254,1) 0%, rgba(240,240,240,1) 50%, rgba(209,209,209,1) 100%);
    background: linear-gradient(to bottom, rgba(254,254,254,1) 0%, rgba(240,240,240,1) 50%, rgba(209,209,209,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#d1d1d1', GradientType=0 );
  }
</style>